@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
.top-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

header {
  position: relative;
}
header a {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  left: 2rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.main-page {
  position: relative;
  top: -6rem;
  border-radius: 4rem;
  background-color: white;
}
.main-page header {
  align-items: center;
  margin: 1rem;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
}
.main-page header h2 {
  font-family: "Shrikhand";
  font-size: 2.5rem;
  font-weight: 400;
}
.main-page .menu {
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;
}
.main-page .menu h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.main-page .menu h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
@keyframes menu-items {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-page .menuItem:nth-child(0n+1) {
  animation-delay: -0.5s;
}
.main-page .menuItem:nth-child(0n+2) {
  animation-delay: 0s;
}
.main-page .menuItem:nth-child(0n+3) {
  animation-delay: 0.5s;
}
.main-page .menuItem:nth-child(0n+4) {
  animation-delay: 1s;
}
.main-page .menuItem:nth-child(0n+5) {
  animation-delay: 1.5s;
}
.main-page .menuItem:nth-child(0n+6) {
  animation-delay: 2s;
}
.main-page .menuItem:nth-child(0n+7) {
  animation-delay: 2.5s;
}
.main-page .menuItem:nth-child(0n+8) {
  animation-delay: 3s;
}
.main-page .menuItem:nth-child(0n+9) {
  animation-delay: 3.5s;
}
.main-page .menuItem:nth-child(0n+10) {
  animation-delay: 4s;
}
.main-page .menuItem {
  opacity: 0;
  animation: menu-items 1s;
  animation-fill-mode: forwards;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  height: 3.5em;
  margin: 1rem auto;
  position: relative;
}
.main-page .menuItem__header {
  align-self: center;
  margin: 0;
  display: block;
  overflow: hidden;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.main-page .menuItem__titre {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.6rem;
  margin: 0;
}
.main-page .menuItem__description {
  font-size: 1.2rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: gray;
}
.main-page .menuItem__prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0;
  transition: padding 0.2s linear;
}
.main-page .menuItem__confirmation {
  position: absolute;
  top: 0;
  right: -5rem;
  height: 100%;
  background-color: #99e2d0;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.2s linear;
}
.main-page .menuItem__icon {
  color: #99e2d0;
  display: flex;
  background-color: white;
  border-radius: 50%;
  height: 1.9em;
  width: 1.9em;
  align-items: center;
  justify-content: center;
  transform: rotate(360deg);
  transition: transform 0.2s linear;
}
.main-page .menuItem:hover .menuItem__confirmation {
  right: 0rem;
}
.main-page .menuItem:hover .menuItem__prix {
  padding-right: 5rem;
}
.main-page .menuItem:hover .menuItem__icon {
  transform: rotate(0deg);
}
.main-page .order-button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 786px) {
  section {
    display: flex;
  }

  .main-page .menu {
    width: 33.33%;
  }
}
html {
  font-size: 62.5% !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.loading {
  background-color: white;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: loading-disapear 3s;
  animation-fill-mode: forwards;
}
.loading .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading .spinner-container .spinner {
  width: 30px;
  height: 30px;
  position: relative;
  animation: spinner 1s linear;
  animation-iteration-count: infinite;
}
.loading .spinner-container .spinner::before {
  top: -150%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #9356dc;
  border-radius: 50%;
}
.loading .spinner-container .spinner::after {
  bottom: -150%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #e872da;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-disapear {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
header {
  text-align: center;
  box-shadow: 0 0 0.5rem #888888;
}
header h1 {
  font-family: "Shrikhand";
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0.6rem 0;
  margin: 0;
}

.emp {
  color: #353535;
  z-index: -1;
  text-align: center;
  padding: 1.2rem 0;
  background-color: #eaeaea;
  font-weight: 600;
  font-size: 1.3rem;
}
.emp i {
  margin-right: 1rem;
}

.presenter {
  text-align: center;
  background-color: #f6f6f6;
  padding: 4rem;
}
.presenter h2 {
  font-size: 1.9rem;
  font-weight: 600;
  margin: 0;
}
.presenter p {
  font-size: 1.3rem;
  font-weight: 300;
}

.exp {
  margin-top: 1.5rem;
  background-image: linear-gradient(#e872da, #a75ddb);
  border-radius: 2rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  padding: 1.2rem 1.2rem;
  filter: brightness(1);
  transition: filter 0.5s, box-shadow 0.5s;
  box-shadow: 0.2rem 0.2rem 0.8rem #888888;
  cursor: pointer;
}
.exp:hover {
  filter: brightness(1.2);
  box-shadow: 0.4rem 0.4rem 1.6rem #888888;
}

.main {
  display: flex;
  flex-direction: column;
}
.main a {
  text-decoration: none;
}

.fonc {
  padding: 1rem;
}
.fonc .fonc_list {
  padding: 0;
  list-style-type: none;
}
.fonc .fonc_list li {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  text-align: start;
  padding: 2rem 0;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(136, 136, 136, 0.4705882353);
  cursor: pointer;
  border-radius: 2rem;
  margin: 2rem 1rem;
}
.fonc .fonc_list li .number {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: calc(50% - 1rem);
  left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  color: white;
}
.fonc .fonc_list li a {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}
.fonc .fonc_list li i.fa-solid {
  margin: 0 2rem 0 3rem;
  color: #888888;
}
.fonc li:hover {
  background-color: #f5edff;
}
.fonc li:hover i.fa-solid {
  color: #9356dc;
}

.resto {
  background-color: #f6f6f6;
  padding: 1rem;
}
.resto .resto_image {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1rem;
}
.resto .resto_image .image {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px rgb(240, 234, 234);
  width: 50em;
  position: relative;
}
.resto .resto_image .image .nouveau {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99e2d0;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.4em 1rem;
  color: #169375;
}
.resto .resto_image .image img {
  width: 50em;
  height: 25rem;
  object-fit: cover;
}
.resto .resto_image .image .bas {
  background: #fff;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto .resto_image .image .bas .description h3 {
  margin: 1rem 0 0 0;
}
.resto .resto_image .image .bas .description p {
  margin: 0 0 1rem 0;
  font-weight: 300;
}

.coeur {
  width: 3rem;
  height: 3rem;
  position: relative;
  -webkit-mask-image: url("./images/assets/heart-solid.svg");
  mask-image: url("./images/assets/heart-solid.svg");
}
.coeur::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("./images/assets/heart-regular.svg");
}
.coeur::after {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(#e872da, #a75ddb);
  transition: bottom 0.2s linear;
}
.coeur:hover::after {
  bottom: 0;
}

footer {
  background-color: rgb(68, 66, 66);
  color: white;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}
footer h3 {
  margin-left: 3rem;
  font-family: "Shrikhand";
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 2rem;
}
footer ul {
  list-style: none;
}
footer li {
  margin-bottom: 0.5rem;
}
footer a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 786px) {
  .fonc h2 {
    text-align: center;
  }
  .fonc .fonc_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fonc .fonc_list li {
    width: 50rem;
  }

  .resto {
    flex-direction: column;
  }
  .resto h2 {
    text-align: center;
  }
  .resto .resto_image {
    max-width: 110rem;
  }
}

/*# sourceMappingURL=style.css.map */
